<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feicui.android.yitaobao">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Presentation.Other.GoodsActivity"/>
        <activity android:name=".Presentation.main.MySelf.MyInformation.LoginActivity"/>
        <activity android:name=".Presentation.main.MySelf.MyInformation.RegisterActivity"/>
        <activity android:name=".Presentation.main.MySelf.MyInformation.Information"/>
        <activity android:name=".Presentation.main.MySelf.MyInformation.Rename"/>
        <activity android:name=".Presentation.main.MySelf.MyShop"/>
        <activity android:name=".Presentation.main.MySelf.UpShop.MyCamera">
        </activity>
        <activity android:name=".Presentation.main.MySelf.UpShop.UpShopActivity">
        </activity>
        <activity android:name=".Presentation.main.MySelf.UpShop.ImageDetailActivity"/>

    </application>

</manifest>